<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Dashboard">
  <meta name="keywords" content="Dashboard, PHP, MVC, CRUD">
  <meta name="author" content="NBB">
  <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="../assets/css/default.css">
  <link rel="stylesheet" href="../assets/css/dashboard.css">
  <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
  <title>Dashboard</title>
</head>

<body id="body">
  <header id="header">
    <a href="following.html" class="logoTxt"><span>nbb</span><span>-</span><span>diary</span></a>
    <nav id="nav">
      <button class="btn-mobile" type="menu"><span class="toggle-menu"></span></button>
      <ul id="menu">
        <li><a href="#home">início</a></li>
        <li><a href="#about">sobre</a></li>
        <li><a href="#contact">contacto</a></li>
        <li><button type="button" class="sign active" id="sign">entrar</button></li>
      </ul>
    </nav>
  </header>
  <main id="main">
    <section id="home">
      <div class="text">
        <h1 class="title">Sua Jornada para o Bem-Estar Começa Aqui</h1>
        <div class="container__text">
          <p class="lorem">
            Transforme desafios em oportunidades com o apoio de especialistas em saúde mental. Conecte-se e cresça,
            encontrando o equilíbrio que você merece, a qualquer hora e em qualquer lugar.
          </p>
          <button id="start-button" class="link__text" type="button" disabled>comecar a usar</button>
        </div>
      </div>
      <a href="following.html" target="_parent"><img src="../assets/img/logo.png" alt="banner"></a>
    </section>
    <section id="about">
      <h1 class="title">Conectando Mentes, Transformando Vidas</h1>
      <div class="container__about">
        <p class="lorem active">
          Na NBB, nossa missão é democratizar o acesso ao cuidado psicológico, criando um espaço digital seguro e
          acolhedor para você. Inspirados por plataformas internacionais de referência e adaptados à realidade de
          Moçambique, unimos tecnologia e empatia para conectar pacientes a profissionais de saúde mental altamente
          qualificados. Nosso ambiente foi desenvolvido para proporcionar uma experiência personalizada, com consultas
          remotas que se encaixam no seu dia a dia. Seja para apoio emocional, orientação ou transformação pessoal.
          Aqui, você encontra privacidade, facilidade de uso e um compromisso genuíno com o seu bem-estar. Junte-se a
          nós nessa jornada e descubra como a inovação pode transformar a maneira de cuidar da mente e viver com mais
          equilíbrio.
        </p>
      </div>
    </section>
    <section id="contact">
      <form id="contact-form" action="#" method="post">
        <span class="title">entre em contacto</span>
        <div class="user">
          <input type="text" name="user" id="user" minlength="3" maxlength="50" required autocomplete="off">
          <label for="user">
            <span class="icon"><img src="../assets/img/icons/user.png" alt="user-icon" class="icon-img"></span>
            <span>nome do usuario</span>
          </label>
        </div>
        <div>
          <input type="email" name="email" id="email" minlength="3" maxlength="50" required autocomplete="off">
          <label for="email">
            <span class="icon"><img src="../assets/img/icons/envelope.png" alt="email-icon" class="icon-img"></span>
            <span>digite o email</span>
          </label>
        </div>
        <div class="textarea">
          <textarea name="problem" id="problem" minlength="3" maxlength="1000" required rows="5" cols="100%"
            autocomplete="off"></textarea>
          <label for="problem">
            <span class="icon"><img src="../assets/img/icons/error.png" alt="email-icon" class="icon-img"></span>
            <span>descreva o seu problema</span>
          </label>
        </div>
        <div class="footerForm">
          <button id="submit-button" type="submit">submeter</button>
        </div>
      </form>
    </section>
    <div id="footer">
      <div class="footerCopy">
        <p>todos os direitos reservados:</p>
        <p class="nameFooter">nbb - diary</p>
        <p class="copyRight">©2025 - nbb diary</p>
      </div>
      <div class="socialMedia">
        <span class="icon"><abbr title="whatsapp"><a href=""><span><img src="../assets/img/icons/whatsapp.png"
                  alt="whatsapp-icon" class="icon-img"></span></a></abbr></span>
        <span class="icon"><abbr title="facebook"><a href=""><span><img src="../assets/img/icons/facebook (1).png"
                  alt="facebook-icon" class="icon-img"></span></a></abbr></span>
        <span class="icon"><abbr title="instagram"><a href=""><span><img src="../assets/img/icons/instagram (1).png"
                  alt="instagram-icon" class="icon-img"></span></a></abbr></span>
        <span class="icon"><abbr title="youtube"><a href=""><span><img src="../assets/img/icons/youtube (2).png"
                  alt="youtube-icon" class="icon-img"></span></a></abbr></span>
      </div>
    </div>
  </main>
  <script src="../assets/js/dashboard.js"></script>
  <script type="module" src="../assets/js/firebaseConfig.js"></script>
  <script type="module" src="../assets/js/dashboardFirebase.js"></script>
  <script type="module" src="../assets/js/emailJsConfig.js"></script>
</body>

</html>