<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- metaTags -->
    <meta name="description" content="Dashboard">
    <meta name="keywords" content="Dashboard, PHP, MVC, CRUD">

    <!-- author -->
    <meta name="author" content="NBB">
    <!-- 
    create by : 
        * -- Umme Aymanah Abacar Nzé -- * (N)
        * -- Edivânia Jarmindo Bila -- * (B)
        * -- Enayatolah Agibo Badrú -- * (B)

        (NBB) - Diary
    
        at 27.02.2025
    -->

    <!-- favicons -->
    <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="../assets/css/default.css">
    <link rel="stylesheet" href="../assets/css/dashboard.css">

    <!-- js -->
    <script src="../assets/js/dashboard.js" defer></script>
    <script src="" defer></script>

    <!-- library -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>

    <!-- api -->

    <!-- title -->
    <title>Dashboard</title>
</head>

<body id="body">
    <header id="header">
        <a href="following.html" class="logoTxt">
            <span>nbb</span>
            <span>-</span>
            <span>diary</span>
        </a>

        <nav id="nav">
            <button class="btn-mobile" type="menu">
                <span class="toggle-menu"></span>
            </button>

            <ul id="menu">
                <li><a href="#home">início</a></li>
                <li><a href="#about">sobre</a></li>
                <li><a href="#contact">contacto</a></li>
                <li><a href="sign/in.html">logar</a></li>
            </ul>
        </nav>
    </header>

    <main id="main">
        <section id="home">
            <div class="text">
                <h1 class="title">Sua Jornada para o Bem-Estar Começa Aqui</h1>
                <div class="container__text">
                    <p class="lorem">
                        Transforme desafios em oportunidades com o apoio de especialistas em saúde mental. Conecte-se e
                        cresça, encontrando o equilíbrio que você merece, a qualquer hora e em qualquer lugar.
                    </p>
                    <!-- <a class="link__text" href="sign/up.html">começar a usar</a> -->
                    <a class="link__text" href="customer/index.html">começar a usar</a>
                </div>
            </div>
            <a href="following.html" target="_parent"><img src="../assets/img/logo.png" alt="banner"></a>
        </section>

        <section id="about">
            <h1 class="title">Conectando Mentes, Transformando Vidas</h1>
            <div class="container__about">
                <p class="lorem active">
                    Na NBB, nossa missão é democratizar o acesso ao cuidado psicológico, criando um espaço
                    digital seguro e acolhedor para você. Inspirados por plataformas internacionais de referência e
                    adaptados à realidade de Moçambique, unimos tecnologia e empatia para conectar pacientes a
                    profissionais de saúde mental altamente qualificados. Nosso ambiente foi desenvolvido para
                    proporcionar uma experiência personalizada, com consultas remotas que se encaixam no seu dia a dia.
                    seja para apoio emocional, orientação ou transformação pessoal. Aqui, você encontra privacidade,
                    facilidade de uso e um compromisso genuíno com o seu bem-estar. Junte-se a nós nessa jornada e
                    descubra como a inovação pode transformar a maneira de cuidar da mente e viver com mais equilíbrio.
                </p>
            </div>
        </section>

        <section id="contact">
            <form action="#" method="post">
                <span class="title">entre em contacto</span>

                <div class="user">
                    <input type="text" name="user" id="user" minlength="3" maxlength="50" required="required"
                        autocomplete="off">
                    <label for="user">
                        <span><ion-icon name="person-sharp"></ion-icon></span>
                        <span>nome do usuario</span>
                    </label>
                </div>
                <div class="">
                    <input type="email" name="email" id="email" minlength="3" maxlength="50" required="required"
                        autocomplete="off">
                    <label for="email">
                        <ion-icon name="mail-outline"></ion-icon>
                        <span>digite o email</span>
                    </label>
                </div>
                <div class="textarea">
                    <textarea name="problem" id="problem" minlength="3" maxlength="1000" required="required" rows="5"
                        cols="100%" autocomplete="off"></textarea>
                    <label for="problem">
                        <ion-icon name="alert-circle-outline"></ion-icon>
                        <span>descreva o seu problema</span>
                    </label>
                </div>
                <div class="footerForm">
                    <button type="submit">submeter</button>
                </div>
            </form>
        </section>

        <div id="footer">
            <div class="footerCopy">
                <p>todos os direitos reservados:</p>
                <p class="nameFooter">nbb - diary</p>
                <p class="copyRight">&copy;2025 - nbb diary</p>
            </div>

            <div class="socialMedia">
                <span>
                    <abbr title="whatsapp">
                        <a href="">
                            <ion-icon name="logo-whatsapp"></ion-icon>
                        </a>
                    </abbr>
                </span>
                <span>
                    <abbr title="facebook">
                        <a href="">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </abbr>
                </span>
                <span>
                    <abbr title="instagram">
                        <a href="">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </abbr>
                </span>
                <span>
                    <abbr title="youtube">
                        <a href="">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                    </abbr>
                </span>
            </div>
        </div>
    </main>

</body>

</html>