<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- metaTags -->
    <meta name="description" content="Dashboard">
    <meta name="keywords" content="Dashboard, PHP, MVC, CRUD">

    <!-- author -->
    <meta name="author" content="NBB">
    <!-- 
    create by : 
        * -- Umme Aymanah Abacar Nzé -- * (N)
        * -- Edivânia Jarmindo Bila -- * (B)
        * -- Enayatolah Agibo Badrú -- * (B)

        (NBB) - Diary
    
        at 27.02.2025
    -->

    <!-- favicons -->
    <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="../assets/css/default.css">
    <link rel="stylesheet" href="../assets/css/following.css">

    <!-- js -->
    <script src="" defer></script>

    <!-- api -->

    <!-- title -->
    <title>seguindo</title>
</head>

<body>
    <main id="container">
        <a class="spacing" href="dashboard.html">NBB - Diary</a>
        <div class="container_user">
            <a href="#" class="member">
                <abbr title="Umme Aymanah Abacar Nzé">
                    <p>Umme Aymanah Abacar <span class="especial">N</span>zé</p>
                </abbr>
            </a>
            <a href="#" class="member">
                <abbr title="Edivânia Jarmindo Bila">
                    <p>Edivânia Jarmindo <span class="especial">B</span>ila</p>
                </abbr>
            </a>
            <a href="#" class="member">
                <abbr title="Enayatolah Agibo Badrú">
                    <p>Enayatolah Agibo <span class="especial">B</span>adrú</p>
                </abbr>
            </a>
        </div>
    </main>
</body>

</html>