<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dashboard">
    <meta name="keywords" content="Dashboard, PHP, MVC, CRUD">
    <meta name="author" content="NBB">
    <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/default.css">
    <link rel="stylesheet" href="../assets/css/following.css">
    <title>seguindo</title>
</head>
<body>
    <main id="container">
        <button type="button" class="spacing">NBB - Diary</button>
        <div class="container_user">
            <a href="#" class="member">
                <abbr title="Umme Aymanah Abacar Nzé">
                    <p>Umme Aymanah Abacar <span class="especial">N</span>zé</p>
                </abbr>
            </a>
            <a href="#" class="member">
                <abbr title="Edivânia Jarmindo Bila">
                    <p>Edivânia Jarmindo <span class="especial">B</span>ila</p>
                </abbr>
            </a>
            <a href="#" class="member">
                <abbr title="Enayatolah Agibo Badrú">
                    <p>Enayatolah Agibo <span class="especial">B</span>adrú</p>
                </abbr>
            </a>
        </div>
    </main>
    <script src="../assets/js/following.js"></script>
</body>
</html>