<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Recuperação de senha - Recupere sua senha no sistema NDD-Diary, um diário virtual para suporte de saúde mental">
  <meta name="keywords"
    content="psychologist, psicologia, saúde mental, cerebro, NDD, Diary, NDD-Diary, recuperação de senha">
  <meta name="author" content="NBB">
  <link rel="shortcut icon" href="../../assets/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="../../assets/css/default.css">
  <link rel="stylesheet" href="../../assets/css/sign.css">
  <link rel="stylesheet" href="../../assets/css/popup.css">
  <title>Forgot Password - NDD Diary</title>
</head>
<body>
  <form action="#" method="post" id="recover-form" autocomplete="on">
    <span class="title">recuperar senha</span>
    <div class="user">
      <input type="email" name="email" id="email" minlength="3" maxlength="50" required autocomplete="email">
      <label for="email">
        <span class="icon">
          <img src="../../assets/img/icons/envelope.png" alt="email-icon" class="icon-img">
        </span>
        <span>digite seu email</span>
      </label>
    </div>
    <div class="footerForm">
      <button type="submit">recuperar</button>
      <span class="forgot"><a href="in.html">voltar ao login</a></span>
    </div>
  </form>
  <div class="popup">
    <div class="popup__container" id="success">
      <div class="popup__content">
        <div class="header__popup">
          <img src="../../assets/img/icons/tick-mark.png" alt="tick">
          <span class="title">Sucesso</span>
        </div>
        <div class="main__popup">
          <span class="mensagens"></span>
        </div>
        <div class="footer__popup">
          <button onclick="closePopup('success')">Ok</button>
        </div>
      </div>
    </div>
    <div class="popup__container" id="error">
      <div class="popup__content">
        <div class="header__popup">
          <img src="../../assets/img/icons/error.png" alt="cross">
          <span class="title">Erro</span>
        </div>
        <div class="main__popup">
          <span class="mensagens"></span>
        </div>
        <div class="footer__popup">
          <button onclick="closePopup('error')">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <script src="../../assets/js/popup.js"></script>
  <script type="module" src="../../assets/js/firebaseConfig.js"></script>
  <script type="module" src="../../assets/js/controllers/forgotPasswordController.js"></script>
</body>
</html>