<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="sign in - faça o login no sistema NDD-Diary, um diário virtual para pessoas que precisam de ajuda de um profissional de saúde mental">
  <meta name="keywords" content="psychologist, psicologia, saúde mental, cérebro, NDD, Diary, NDD-Diary">
  <meta name="author" content="NBB">
  <link rel="shortcut icon" href="../../assets/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="../../assets/css/default.css">
  <link rel="stylesheet" href="../../assets/css/sign.css">
  <link rel="stylesheet" href="../../assets/css/popupSign.css">
  <title>sign in</title>
</head>

<body>
  <form action="#" method="post">
    <span class="title">login</span>
    <div class="user">
      <input type="text" name="user" id="user" minlength="3" maxlength="50" required autocomplete="email">
      <label for="user">
        <span class="icon"><img src="../../assets/img/icons/envelope.png" alt="email-icon" class="icon-img"></span>
        <span>email do usuário</span>
      </label>
    </div>
    <div class="password">
      <input type="password" name="password" id="password" minlength="8" maxlength="20" required
        autocomplete="current-password">
      <label for="password">
        <span class="icon"><img src="../../assets/img/icons/key.png" alt="key-icon" class="icon-img"></span>
        <span>senha</span>
      </label>
    </div>
    <div class="footerForm">
      <button type="submit">entrar</button>
      <button type="button" id="google-login">
        <span class="icon"><img src="../../assets/img/icons/google.png" alt="google-icon" class="icon-img"></span>
        <span>entrar com google</span>
      </button>
      <div class="account">
        <span>Criar uma conta,</span>
        <span><a href="up.html">cadastrar!</a></span>
      </div>
      <span class="forgot"><a href="forgotPassword.html">Esqueceu a senha?</a></span>
    </div>
  </form>

  <!-- POPUPS (mesmo em todos os arquivos) -->
  <div class="popup">
    <div class="popup__container" id="success">
      <div class="popup__content">
        <div class="header__popup">
          <img src="../../assets/img/icons/tick-mark.png" alt="tick">
          <span class="title">Sucesso</span>
        </div>
        <div class="main__popup">
          <span class="mensagens"></span>
        </div>
        <div class="footer__popup">
          <button type="button">Ok</button>
        </div>
      </div>
    </div>
    <div class="popup__container" id="error">
      <div class="popup__content">
        <div class="header__popup">
          <img src="../../assets/img/icons/cross.png" alt="cross">
          <span class="title">Erro</span>
        </div>
        <div class="main__popup">
          <span class="mensagens"></span>
        </div>
        <div class="footer__popup">
          <button type="button">Ok</button>
        </div>
      </div>
    </div>
  </div>

  <script type="module" src="../../assets/js/popup.js"></script>
  <script type="module" src="../../assets/js/firebaseConfig.js"></script>
  <script type="module">
    import { initSignIn } from "../../assets/js/controllers/signinController.js";
    initSignIn();
  </script>
</body>

</html>