<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Cadastro - NDD-Diary, diário virtual para saúde mental.">
  <meta name="keywords" content="psicologia, saúde mental, NDD, Diário, NDD-Diary">
  <meta name="author" content="NBB">
  <link rel="shortcut icon" href="../../assets/img/logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="../../assets/css/default.css" />
  <link rel="stylesheet" href="../../assets/css/sign.css" />
  <title>Cadastrar</title>
</head>
<body>
  <form id="signup-form" autocomplete="on">
    <span class="title">Cadastrar</span>
    <div class="user">
      <input type="text" name="user" id="user" required minlength="3" maxlength="50" autocomplete="email">
      <label for="user">
        <span class="icon"><img src="../../assets/img/icons/envelope.png" alt="email" class="icon-img"></span>
        <span>Email do usuário</span>
      </label>
    </div>
    <div class="password">
      <input type="password" name="password" id="password" required minlength="8" maxlength="20" autocomplete="new-password">
      <label for="password">
        <span class="icon"><img src="../../assets/img/icons/key.png" alt="senha" class="icon-img"></span>
        <span>Senha</span>
      </label>
    </div>
    <div class="password">
      <input type="password" name="confirm-password" id="confirm-password" required minlength="8" maxlength="20" autocomplete="new-password">
      <label for="confirm-password">
        <span class="icon"><img src="../../assets/img/icons/key.png" alt="senha" class="icon-img"></span>
        <span>Confirmar senha</span>
      </label>
    </div>
    <div class="select-role">
      <label for="user-type">Tipo de usuário:</label>
      <select id="user-type" required>
        <option value="" disabled selected>Selecione</option>
        <option value="paciente">Paciente</option>
        <option value="psicologo">Psicólogo</option>
      </select>
    </div>
    <div class="footerForm">
      <button type="submit">Cadastrar</button>
      <div class="account">
        <span>Já possui uma conta?</span>
        <span><a href="in.html">Entrar!</a></span>
      </div>
    </div>
  </form>
  <script type="module" src="../../assets/js/firebaseConfig.js"></script>
  <script type="module">
    import { initSignUp } from "../../assets/js/controllers/signupController.js";
    initSignUp();
  </script>
</body>
</html>