<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- metaTags -->
    <meta name="description" content="sign in - faca o login no sistem NDD-Diary,
    é um sistema de diario virtual para pessoas que precisam de ajuda de um profissional de saude mental">
    <meta name="keywords" content="psychologist, psicologia, saúde mental, cerebro, NDD, Diary, NDD-Diary">

    <!-- author -->
    <meta name="author" content="NBB">
    <!-- 
    create by : 
        * -- Umme Aymanah Abacar Nzé -- * (N)
        * -- Edivânia Jarmindo Bila -- * (B)
        * -- Enayatolah Agibo Badrú -- * (B)

        (NBB) - Diary
    
        at 27.02.2025
    -->

    <!-- favicons -->
    <link rel="shortcut icon" href="../../assets/img/logo.png" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="../../assets/css/default.css">
    <link rel="stylesheet" href="../../assets/css/sign.css">

    <!-- js -->
    <script src="" defer></script>
    <script src="" defer></script>

    <!-- api -->

    <!-- frameworks -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>

    <!-- title -->
    <title>sign up</title>
</head>

<body>
    <form action="#" method="post" autocomplete="off">
        <span class="title">sign up</span>

        <div class="user">
            <input type="text" name="user" id="user" minlength="3" maxlength="50" required="required"
                autocomplete="off">
            <label for="user">
                <span><ion-icon name="person-sharp"></ion-icon></span>
                <span>user name</span>
            </label>
        </div>
        <div class="password">
            <input type="password" name="password" id="password" required="required"
                autocomplete="off">
            <label for="password">
                <span><ion-icon name="key-sharp"></ion-icon></span>
                <span>password</span>
            </label>
        </div>
        <div class="password">
            <input type="password" name="password" id="password" required="required"
                autocomplete="off">
            <label for="password">
                <span><ion-icon name="key-sharp"></ion-icon></span>
                <span>confirm password</span>
            </label>
        </div>
        <div class="footerForm">
            <button type="submit">sign up</button>
            <div class="account">
                <span>create an account</span>
                <span><a href="in.html">sign in.</a></span>
            </div>
            <!-- <span class="forgot">
                <a href="forgotPassword.html">forgot password?</a>
            </span> -->
        </div>
    </form>
</body>

</html>