<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../assets/css/default.css">
    <link rel="stylesheet" href="../../assets/css/chatStyle.css">

    <title>Document</title>
</head>

<body>
    <header id="header">
        <div class="buttonHeader">
            <button type="button" class="buttonBack" id="backIndex" aria-label="Voltar">
                <img src="../../assets/img/icons/angle-left.png" alt="arrow-left" class="arrowLeft icon">
            </button>
        </div>

        <div class="userProfile">
            <button type="button" class="imgProfile" aria-label="Alterar foto de perfil">
                <img src="../../assets/img/icons/user.png" alt="userIcon">
            </button>
            <div class="textProfile">
                <h2 class="userName">Lamine Yamal</h2>
                <span class="userEmail">lamineyamal@gmail.com</span>
            </div>
        </div>
    </header>

    <!-- Input para alteração da foto de perfil (oculto) -->
    <input type="file" id="profilePhoto" accept="image/*" style="display: none;">

    <div class="containerActivity">
        <section class="containerUserChat">
            <h2 class="title">Mensagem</h2>
            <div class="container__settingChat">
                <input type="text" name="searchUser" class="searchChatUser" id="searchUser" placeholder="Procurar usuario...">
            </div>
            <nav id="nav">
                <ul id="menu">
                    <li>
                        <div class="list">
                            <button type="button" class="profile__pic">
                                <img src="../../assets/img/icons/profile.png" alt="user__mensage__profile">
                            </button>


                            <span class="container__left">
                                <div class="content__text__userMessage">
                                    <span class="nameUser__message">
                                        Lamine Yamal
                                    </span>
                                    <span class="messageUser">
                                        Oie Tudo bem contigo?...
                                    </span>
                                </div>
                            </span>
                            <div class="container__right">
                                <span class="dateTime__message">
                                    28.10.2024
                                </span>
                                <span class="length__message">
                                    5
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </section>

        <section id="containerMain">
            <main id="main">
                <div class="main__header">

                </div>
                <div class="main_content">

                </div>
                <div class="main__footer">

                </div>
            </main>
        </section>

    </div>
</body>

</html>