<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- metaTags -->
    <meta name="description" content="Dashboard">
    <meta name="keywords" content="Dashboard, PHP, MVC, CRUD">

    <!-- author -->
    <meta name="author" content="NBB">
    <!-- 
    create by : 
        * -- Umme Aymanah Abacar Nzé -- * (N)
        * -- Edivânia Jarmindo Bila -- * (B)
        * -- Enayatolah Agibo Badrú -- * (B)

        (NBB) - Diary
    
        at 27.02.2025
    -->

    <!-- favicons -->
    <link rel="shortcut icon" href="../../assets/img/logo.png" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="../assets/css/default.css">

    <!-- js -->
    <script src="" defer></script>

    <!-- library -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>

    <!-- api -->

    <!-- title -->
    <title>Pagina Inicial</title>
</head>
<body>
    
</body>
</html>