<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- metaTags -->
    <meta name="description" content="Dashboard">
    <meta name="keywords" content="Dashboard, PHP, MVC, CRUD">

    <!-- author -->
    <meta name="author" content="NBB">
    <!-- 
    create by : 
        * -- Umme Aymanah Abacar Nzé -- * (N)
        * -- Edivânia Jarmindo Bila -- * (B)
        * -- Enayatolah Agibo Badrú -- * (B)

        (NBB) - Diary
    
        at 27.02.2025
    -->

    <!-- favicons -->
    <link rel="shortcut icon" href="../../assets/img/logo.png" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="../../assets/css/default.css">
    <link rel="stylesheet" href="../../assets/css/headerAnimation.css">
    <link rel="stylesheet" href="../../assets/css/customerIndex.css">

    <!-- js -->
    <script src="../../assets/js/dashboard.js" defer></script>

    <!-- library -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>

    <!-- api -->

    <!-- title -->
    <title>Pagina Inicial</title>
</head>

<body>
    <header id="header">
        <a href="following.html" class="logoTxt">
            <span>nbb</span>
            <span>-</span>
            <span>diary</span>
        </a>

        <nav id="nav">
            <button class="btn-mobile" type="menu">
                <span class="toggle-menu"></span>
            </button>

            <ul id="menu">
                <li><a href="#">agendar consultas</a></li>
                <li><a href="#">mensagens</a></li>
                <li><a href="#">exercicios</a></li>
                <li><a href="#">perfil</a></li>
            </ul>
        </nav>
    </header>

    <main id="main">
        <section id="welcome">
            <div class="welcome">
                <div class="container_welcome">
                    <span class="first">Bom Dia</span>
                    <span class="second">Nome_Aleatorio</span>
                </div>
                <div class="container_welcome">
                    <span class="third">Seja bem vindo(a) ao
                    </span>
                    <span class="logo">NDD - Diary</span>
                </div>
            </div>
        </section>

        <section id="history">
            <p class="title">
                Historico de consultas
            </p>
            <div class="contentHistory">
                <button type="model" class="cardZero"></button>
                <div class="card">
                    <div class="cardTitle">
                        <span class="icon">
                            <ion-icon name="person-sharp"></ion-icon>
                        </span>
                        <span class="cardText">Agendamento</span>
                    </div>
                    <div class="item">
                        <span class="name">
                            consulta marcada
                        </span>
                        <span class="date">
                            27-02-2025
                        </span>
                        <span>as 10h</span>
                    </div>
                    <div class="cardFooter"></div>
                </div>
                <div class="card">
                    <div class="cardTitle">
                        <span class="icon">
                            <ion-icon name="person-sharp"></ion-icon>
                        </span>
                        <span class="cardText">Agendamento</span>
                    </div>
                    <div class="item">
                        <span class="name">
                            consulta marcada
                        </span>
                        <span class="date">
                            27-02-2025
                        </span>
                        <span>as 10h</span>
                    </div>
                    <div class="cardFooter"></div>
                </div>
                <div class="card">
                    <div class="cardTitle">
                        <span class="icon">
                            <ion-icon name="person-sharp"></ion-icon>
                        </span>
                        <span class="cardText">Agendamento</span>
                    </div>
                    <div class="item">
                        <span class="name">
                            consulta marcada
                        </span>
                        <span class="date">
                            27-02-2025
                        </span>
                        <span>as 10h</span>
                    </div>
                    <div class="cardFooter"></div>
                </div>
                <div class="card">
                    <div class="cardTitle">
                        <span class="icon">
                            <ion-icon name="person-sharp"></ion-icon>
                        </span>
                        <span class="cardText">Agendamento</span>
                    </div>
                    <div class="item">
                        <span class="name">
                            consulta marcada
                        </span>
                        <span class="date">
                            27-02-2025
                        </span>
                        <span>as 10h</span>
                    </div>
                    <div class="cardFooter"></div>
                </div>
                <div class="card">
                    <div class="cardTitle">
                        <span class="icon">
                            <ion-icon name="person-sharp"></ion-icon>
                        </span>
                        <span class="cardText">Agendamento</span>
                    </div>
                    <div class="item">
                        <span class="name">
                            consulta marcada
                        </span>
                        <span class="date">
                            27-02-2025
                        </span>
                        <span>as 10h</span>
                    </div>
                    <div class="cardFooter"></div>
                </div>
                
            </div>
        </section>
    </main>
</body>

</html>