#menu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#menu li::after {
  content: "|";
  width: 1px;
  height: 100%;
}

#welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  font-size: 1.5em;
}

.welcome{
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    gap: .5em;
    letter-spacing: 1px;
}

#welcome .logo{
    font-weight: bolder;
    
}

.container_welcome{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 840px) {
#menu li::after {
    display: none;
}
}