#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #00dfc4;
  color: #1d2b3a;
  max-width: 100vw;
  width: 100vw;
}

.buttonHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonHeader > button {
  padding: 7px;
  border-radius: 4px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00dfc4;
  cursor: pointer;
}

.icon {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.userProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.imgProfile {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: none;
  outline: none;
  border: none;
  border: 1px solid #1d2b3a;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.imgProfile img {
  width: 100%;
  height: 100%;
  padding: 2px;
  object-fit: cover;
}

.textProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.textProfile .userName {
  font-size: 1.2em;
  font-weight: bolder;
  text-transform: capitalize;
  color: #1d2b3a;
}

.textProfile .userEmail {
  font-size: 0.8em;
  font-weight: small;
  color: #1d2b3a;
  text-transform: lowercase;
}

.containerActivity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerSettingMenu {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: calc(100vh - 69.6px);
  background-color: #1d2b3a;
  transition: all 0.3s ease-in-out;
}

.containerSettingMenu .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bolder;
  color: #00dfc4;
}

.containerSettingMenu #menu {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 10px 0px;
}

.containerSettingMenu #menu li {
  width: 100%;
  padding: 0 7px;
}

.containerSettingMenu #menu li button {
  width: 100%;
  background: #00dfc4;
  color: #1d2b3a;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bolder;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
}

.containerSettingMenu #menu li button.active {
    background: rgba(0, 223, 197, 0.3);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.containerSettingMenu #menu li button.logOut {
  background: #ff4d4d;
  color: #1d2b3a;
}

.containerSettingMenu #menu li button:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/* main */

#containerMain {
  width: calc(100vw - 250px);
  height: calc(100vh - 69.6px);
  position: relative;
  transition: all 0.3s ease-in-out;
}

main {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background: #f9f9f9;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 20px;
}

.mobile {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
  transform: translate(-25px, 20px);
  width: 35px;
  height: 35px;
  transition: all 0.3s ease-in-out;
  display: none;
}

.mobile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#containerMain section {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

#containerMain section.active {
  display: flex;
}

#containerMain section h2 {
  font-size: 1.5em;
  font-weight: bolder;
  text-transform: capitalize;
  color: #1d2b3a;
}

#containerMain form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
}

#containerMain form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
}

#containerMain form div label {
  font-size: 1.2em;
  font-weight: bolder;
  color: #1d2b3a;
}

#containerMain form div input {
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #f9f9f9;
  border: 1px solid #1d2b3a;
  color: #1d2b3a;
  font-size: 1em;
}

#containerMain form div textarea {
  border: 1px solid #1d2b3a;
  border-radius: 4px;
  padding: 7px;
  outline: none;
}

#containerMain form div select {
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #f9f9f9;
  border: 1px solid #1d2b3a;
  color: #1d2b3a;
  font-size: 1em;
  cursor: pointer;
}

#containerMain form div select option {
  font-size: 1em;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

#containerMain form div button {
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #00dfc4;
  color: #1d2b3a;
  font-size: 1.2em;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#containerMain form div button:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.deliteAccount {
  background: #ff4d4d !important;
}

@media screen and (max-width: 600px) {
  /* header */
  .textProfile {
    display: none;
    transition: all 0.3s ease-in-out;
}

  /* menuNav */
  .containerSettingMenu {
    width: 100vw;
    display: flex;
    transition: all 0.3s ease-in-out;
}

.containerSettingMenu.active {
    display: none;
    transition: all 0.3s ease-in-out;
}

/* main */

#containerMain {
    display: none;
    transition: all 0.3s ease-in-out;
}

#containerMain.active {
    display: flex;
    width: 100vw;
    transition: all 0.3s ease-in-out;
}

.mobile {
    display: flex;
    transition: all 0.3s ease-in-out;
  }
}
